@*
    !!!NEED!!!
    List<DBLib.Models.Book>
    ---For _Pagination---
    ViewBag.MaxPage
    ViewBag.currentPage
*@

@model List<DBLib.Models.Book>

@if (Model.Count > 0)
{
<section class="bookGrid">
    @{
        foreach (var book in Model)
        {
            <div class="bookBox">
                <div class="fullSizeBox">
                    <a href="@Url.Action("ShowBook", new { id = book.Id })">
                        <div class="tAlignCenter">
                            <img class="bookTitleImgSm" src="~/TitlePic/@{@book.Id;}.jpg" onerror="imgError(this)" />
                            @if (book.LibraryReading)
                            {
                                <div class="btn btn-xs btn-warning fixedInRCorner">Читання в бібліотеці</div>
                            }
                            @if (book.IsNew)
                            {
                                <div class="btn btn-xs btn-success fixedInLCorner">
                                    Новинка!
                                    <span class="glyphicon glyphicon-star"></span>
                                </div>
                            }
                        </div>

                        <h4 class="threeDots"><div class="cutTitle"><b>@book.Title</b></div></h4>
                    </a>
                    <hr />
                    <p>@Html.ActionLink("Дивитися", "ShowBook", new { id = book.Id }, new { @class = "btn btn-xs btn-primary" })</p>
                    <div><b>Розділ: </b>@book.Section.Name</div>
                    <div><b>Видавництво: </b>@book.Publisher.Name</div>
                    <div><b>Рік: </b>@book.Year</div>
                    <div>
                        <b>Автори: </b>
                        <ul>
                            @foreach (var author in book.Authors)
                            {
                                <li>@author.Name</li>
                            }
                        </ul>
                    </div>

                </div>
            </div>
        }
    }
</section>
    @Html.Partial("_Pagination")
}
else
{
    <h4 class="alertInfo bg-warning text-primary">Книжок не знайдено...</h4>
}