@{
    @model DBLib.Models.ExceptionExt
    int timer = 0;
}

<script>
    function redirect() {
        window.location.href = "/Home/Index";
    };
</script>

@{
    if (Model.State == DBLib.Models.MessageState.Error || Model.State == null)
    {
        ViewBag.Title = "Помилка";
        <h1 class="text-danger">Помилка</h1>
        <h4 class="bg-danger text-info alertMessage">
            @if (Model.MessageExt == null)
            {
                Model.MessageExt = Model.Message;
            }
                @Model.MessageExt
            <p class="btn btn-xs btn-link" data-toggle="collapse" data-target="#specInfo">+</p>
        </h4>
        <p id="specInfo" class="collapse bg-dark text-muted" hidden>@Model.Message</p>
    }
    else if (Model.State == DBLib.Models.MessageState.Info)
    {
        ViewBag.Title = "Повідомлення";
        <h1 class="text-primary">Повідомлення</h1>
        <h4 class="bg-info alertMessage">@Model.MessageExt</h4>
        timer = 5000;
        <script>
            setTimeout(redirect, @timer);
        </script>
    }
    else if (Model.State == DBLib.Models.MessageState.Succes)
    {
        ViewBag.Title = "Успішно";
        <h1 class="text-success">Успішно</h1>
        <h4 class="bg-success text-info alertMessage">@Model.MessageExt</h4>
        timer = 3000;
        <script>
            setTimeout(redirect, @timer);
        </script>
    }
}
@if (@Model.AdditionalInfo != null)
{
    <p class="bg-warning text-info alertInfo">@Model.AdditionalInfo</p>
}
<div>Бажаєте <a href="/Home/Index">повернутися на голову?</a></div>
@if (timer != 0)
{
    <div class="text-info">Автоматичне повернення на головну через @(timer/1000) сек.</div>
}