@model Library.Models.IndexViewModel
@{
    ViewBag.Title = "Профіль";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>@ViewBag.userInfo.Surname @ViewBag.userInfo.Name</h4>
    <hr />
    <div class="btn-group" role="group">
        <span class='btn btn-sm btn-default'>Ролі користувача: </span>
        <span class='btn btn-sm btn-danger @(User.IsInRole("admin") ? "" : "hidden")'>Адміністратор</span>
        <span class='btn btn-sm btn-warning @(User.IsInRole("librarian") ? "" : "hidden")'>Бібліотекар</span>
        <span class='btn btn-sm btn-primary @(User.IsInRole("registered") ? "" : "hidden")'>Користувач</span>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Пароль:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Змінити пароль", "ChangePassword")
            }
            ]
        </dd>
    </dl>
</div>
