@{
    ViewBag.Title = "AddBook";
    @model Library.Models.AddBooksViewModels
}

<h2>AddBook</h2>
<div class="panel panel-info">
    <div class="panel-heading text-uppercase">Додати книгу</div>
    <div class="panel-body">
        <form method="post" action="/Home/AddBook" role="form" enctype="multipart/form-data">
            <div>
                @Html.LabelFor(m => m.AuthorsId)
                @Html.ListBox("AuthorsId", ViewBag.authorsSelectList as SelectList)
                @Html.ValidationMessageFor(m => m.AuthorsId)
            </div>
            <div>
                @Html.LabelFor(m => m.ISBN)
                @Html.TextBoxFor(m => m.ISBN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.ISBN)
            </div>
            <div>
                @Html.LabelFor(m => m.LibraryReading)
                <input type="checkbox" value="true" name="LibraryReading"/>
                @Html.ValidationMessageFor(m => m.LibraryReading)
            </div>
            <div>
                @Html.LabelFor(m => m.Pages)
                @Html.TextBoxFor(m => m.Pages, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Pages)
            </div>
            <div>
                @Html.LabelFor(m => m.PublisherId)
                @Html.DropDownList("PublisherId", ViewBag.publishersSelectList as SelectList)
                @Html.ValidationMessageFor(m => m.PublisherId)
            </div>
            <div>
                @Html.LabelFor(m => m.Quantity)
                @Html.TextBoxFor(m => m.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Quantity)
            </div>
            <div>
                @Html.LabelFor(m => m.SectionId)
                @Html.DropDownList("SectionId", ViewBag.sectionsSelectList as SelectList)
                @Html.ValidationMessageFor(m => m.SectionId)
            </div>
            <div>
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Title)
            </div>
            <div>
                @Html.LabelFor(m => m.Year)
                @Html.TextBoxFor(m => m.Year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Year)
            </div>
            <div>
                @Html.LabelFor(m => m.TitlePic)
                <input type="file" name="TitlePic" id="TitlePic" />
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Додати книгу</button>
        </form>
</div>
</div>
