@{
    ViewBag.Title = "Home Page";
    @model List<DBLib.Models.Book>
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @{
        foreach (var book in Model)
        {
    <div class="col-md-2">
        <h2>@book.Title</h2>
        <p>Розділ @book.Section.Name</p>
        <p>Рік @book.Year</p>
        <p>Видавництва @book.Publisher.Name</p>
        <p>Читання в бібліотеці @book.LibraryReading</p>
        @if (book.TitlePic == null)
        {<img style="max-width: 80px; max-height: 200px;" src="~/TitlePic/noImage.png" /> }
        else
        { <img style="max-width: 80px; max-height: 200px;" src="~/TitlePic/@book.TitlePic" />}
        
        <p>@Html.ActionLink("Дивитися", "ShowBook", new { id = book.Id }, new { @class = "btn btn-xs btn-primary" })</p>
    </div>
            }
        }
</div>