@{
    ViewBag.Title = "Home Page";
    @model List<DBLib.Models.Book>
}

<div class="jumbotron">
    <div>Пошук за назвою</div>
    <div>
        Сортувати за:
        <span>Автором</span> |
        <span>Назвою</span> |
        <span>Виданням</span> |
        <span>Даті видання</span>
        <input type="radio">Спадання</input>
        <input type="radio">Зростання</input>
    </div>
    <a href="@Url.Action("Authors")">Автори</a> |
    <a href="@Url.Action("Sections")">Розділи</a> |
    <a href="@Url.Action("Publishers")">Видання</a>
</div>
<div class="row">
    @{
        foreach (var book in Model)
        {
    <div style="height: 400px;" class="col-md-4">
        <h3>@book.Title</h3>
        <p>Розділ @book.Section.Name</p>
        <p>Рік @book.Year</p>
        <p>Видавництва @book.Publisher.Name</p>
        <p>Читання в бібліотеці @book.LibraryReading</p>
        <img class="bookTitleImgSm" src="~/TitlePic/@{@book.Id;}.jpg" onerror="imgError(this)" />

        <p>@Html.ActionLink("Дивитися", "ShowBook", new { id = book.Id }, new { @class = "btn btn-xs btn-primary" })</p>
    </div>
            }
        }
</div>