@{
    ViewBag.Title = "Home Page";
    @model List<DBLib.Models.Book>
}

<div class="jumbotron">
    <div>Пошук за назвою</div>
    <div>
        <span>Сортувати за:</span>
        @SortBtn("Title", "Назвою ↑")
        @SortBtn("Author", "Автором ↑")
        @SortBtn("Publisher", "Виданням ↑")
        @SortBtn("PublicationDate", "Даті видання ↑")
        @SortBtn("AddingDate", "Даті додавання ↑")
    </div>
    <a href="@Url.Action("Authors")">Автори</a> |
    <a href="@Url.Action("Sections")">Розділи</a> |
    <a href="@Url.Action("Publishers")">Видання</a>
</div>
@Html.Partial("_BooksView", Model)

@helper SortBtn(string sortValue, string title)
{
    <div class="btn-group">
        <a name="sortBtn" class="btn btn-default" href="@Url.Action("Index", new { id = ViewBag.currentPage, sortingBy = sortValue,
            sortingOrder = "ASC" })">@title</a>
            <a name="sortBtn" class="btn btn-default" href="@Url.Action("Index", new { id = ViewBag.currentPage, sortingBy = sortValue,
            sortingOrder = "DESC" })">↓</a>
        </div>
}