
@{
    ViewBag.Title = "Мої книги";
    @model DBLib.Models.BooksRenting
}

<h2>Мої книги</h2>

@if (ViewBag.booksOrdered.Count > 0)
{
    <h4 class="bg-info alertMessage">Замовлені книги</h4>
    <ul id="booksOrdered">
        @{
            using (Html.BeginForm("CancelOrder", "Home", FormMethod.Post, new { @class = "displayInline-block" }))
            {
                foreach (var br in ViewBag.booksOrdered)
                {
                    <li>
                        <a href="@Url.Action("ShowBook", new { id = br.Book.Id})">@br.Book.Title</a>
                        @if (br.Book.LibraryReading)
                        {
                            <span class="btn btn-xs btn-warning">Читання в бібліотеці</span>
                        }
                        <button type="submit" value="@br.Id" name="orderId" class="btn btn-xs btn-danger">x</button>

                    </li>
                }
            }
        }
    </ul>
}
else
{
    <h4 class="bg-warning alertMessage">Замовлені книги відсутні</h4>
}

@if (ViewBag.booksTaked.Count > 0)
{
    <h4 class="bg-info alertMessage">Взяті книги</h4>
    <ul id="booksTaked">
        @{
            foreach (var br in ViewBag.booksTaked)
            {
                <li class="@(br.IsHasPenalty ? "bg-danger" : "" )">
                    <a href="@Url.Action("ShowBook", new { id = br.Book.Id })">
                        @br.Book.Title
                    </a>
                    @if (br.Book.LibraryReading)
                    {
                        <span class="btn btn-xs btn-warning">Читання в бібліотеці</span>
                    }
                    <ul>
                        <li>Взято: @br.TakingDate.ToString("dd/MM/yyyy")</li>

                        @if (!br.Book.LibraryReading)
                        {
                            <li>
                                Повернути: @br.GetReturningDate.ToString("dd/MM/yyyy")
                                @if (br.IsHasPenalty)
                                {
                                    <strong> - Нараховано ШТРАФ: @br.GetFineValue грн.</strong>
                                }
                            </li>
                        }
                    </ul>
                </li>
            }
        }
    </ul>
}
else
{
    <h4 class="bg-warning alertMessage">Взяті книги відсутні</h4>
}


@*<ul id="booksTaked">
        @{
            foreach (var br in ViewBag.booksTaked)
            {
                <li>
                    <a href="@Url.Action("ShowBook", new { id = br.Book.Id })">
                        @br.Book.Title
                    </a>
                    <span>Взято: @br.TakingDate.ToString("dd/MM/yyyy")</span>
                    @if (!br.IsHasPenalty)
                    {
                        <span>Повернути: @br.GetReturningDate.ToString("dd/MM/yyyy")</span>
                    }
                    else if (br.IsHasPenalty)
                    {
                        <span class="bg-danger">
                            Повернути: @br.GetReturningDate.ToString("dd/MM/yyyy")
                            <strong> - Нараховано ШТРАФ: @br.GetFineValue грн.</strong>
                        </span>
                    }
                </li>
            }
        }
    </ul>*@