@if (Model != null)
{
    ViewBag.Title = "Автор: " + Model.Name;
    @model DBLib.Models.Author

    <h2>Автор: @Model.Name</h2>

    if (Model.Books.Count > 0)
    {
        <h5 class="alertInfo bg-success text-primary">Цей автор має <span class="badge">@Model.Books.Count</span> книг</h5>
        <ul>
            @foreach (var book in Model.Books)
            {
                <li><a href="@Url.Action("ShowBook", "Home", new { id = book.Id })">@book.Title</a></li>
            }
        </ul>
    }
    else
    {
        <h5 class="alertInfo bg-warning text-primary">Цей автор не має книг</h5>
        <span>Можете переглянути інших авторів</span>
        <ul>
            @foreach (var author in ViewBag.OtherAuthors)
            {
                <li><a href="@Url.Action("ShowAuthor", "Home", new { id = author.Id })">@author.Name</a></li>
            }
        </ul>
    }
}
else
{
    ViewBag.Title = "Автори";
        <h2>Автори</h2>
    <h4 class="alertInfo bg-success text-primary">До вашої уваги такі автори:</h4>

    <ul>
        @foreach (var author in ViewBag.OtherAuthors)
        {
            <li><a href="@Url.Action("ShowAuthor", "Home", new { id = author.Id })">@author.Name</a></li>
        }
    </ul>
}