
@{
    @model DBLib.Models.Book
}

<!DOCTYPE html>

<h1>Books</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-md-2">
            <div>
                @Html.LabelFor(b => b.ISBN)
                @Html.DisplayFor(b => b.ISBN)
            </div>
            <div>
                @Html.LabelFor(b => b.Pages)
                @Html.DisplayFor(b => b.Pages)
            </div>
            <div>
                @Html.LabelFor(b => b.Quantity)
                @Html.DisplayFor(b => b.Quantity)
                <div>Вільно: @ViewBag.freeBookCount</div>
            </div>
            <div>
                @Html.LabelFor(b => b.Title)
                @Html.DisplayFor(b => b.Title)
            </div>
            <div>
                @Html.LabelFor(b => b.Year)
                @Html.DisplayFor(b => b.Year)
            </div>
            <div>
                @Html.LabelFor(b => b.LibraryReading)
                @Html.DisplayFor(b => b.LibraryReading)
            </div>
            <div>
                @Html.LabelFor(b => b.Publisher.Name)
                <a href="@Url.Action("ShowPublisher","Home",new { id = Model.Publisher.Id})">@Model.Publisher.Name</a>
            </div>
            <div>
                @Html.LabelFor(b => b.Section.Name)
                <a href="@Url.Action("ShowSection","Home",new { id = Model.Section.Id})">@Model.Section.Name</a>
            </div>
            <div>
                @Html.LabelFor(b => b.Authors)
                @foreach (var author in Model.Authors)
                {
                    <a href="@Url.Action("ShowAuthor","Home",new { id = author.Id})">@author.Name</a>
                }
            </div>
            @if (@ViewBag.userExist)
            {
                if (@ViewBag.userOrderedTheBook) //книга вже замовлена
                {
                    <div id="addBookOrder" class="btn btn-primary hidden">Замовити</div>
                    <div id="cancelBookOrder" class="btn btn-danger">Відмінити</div>
                }
                else
                {

                    if (@ViewBag.freeBookCount > 0)
                    {
                        <div id="addBookOrder" class="btn btn-primary">Замовити</div>
                        <div id="cancelBookOrder" class="btn btn-danger hidden">Відмінити</div>
                    }
                    else
                    {
                        <div class="btn btn-default">Вільних книг немає</div>
                    }
                }
            }
            else
            {
                @Html.ActionLink("Щоб замовити книгу, необхідно увійти", "Login", "Account", null, new { @class = "btn btn-default" });
            }
        </div>
        <div class="col-xs-6 col-md-2">
            <img class="bookTitleImgLj" src="~/TitlePic/@{@Model.Id;}.jpg" onerror="imgError(this)" />
        </div>
    </div>
</div>

@section scripts{
    <script>
        $("#addBookOrder").click(addBookOrder);
        $("#cancelBookOrder").click(cancelBookOrder);

        function toggleOrderBtn() {
            $("#addBookOrder").toggleClass("hidden");
            $("#cancelBookOrder").toggleClass("hidden");
        }

        function addBookOrder() {
            $.ajax({
                url: '@Url.Action("bookOrder")',
                data: { BookId: '@Model.Id', UserId: '@ViewBag.userId' },
                type: 'POST',
                dataType: "json",
                success: function (data)
                {
                    toggleOrderBtn();
                    alert(data);
                },
                error: function(xhr, status, error){
                    alert("Помилка :(");
                }
             });
        }

        function cancelBookOrder() {
            $.ajax({
                url: '@Url.Action("cancelBookOrder")',
                data: { BookId: '@Model.Id', UserId: '@ViewBag.userId' },
                type: 'POST',
                dataType: "json",
                success: function (data)
                {
                    toggleOrderBtn();
                    alert(data);
                },
                error: function(xhr, status, error){
                    alert("Помилка :(");
                }
             });
        }
    </script>
}