@if (Model != null)
{
    ViewBag.Title = "Автор: " + Model.Name;
    @model DBLib.Models.Author

    <h2>
        Автор: @Model.Name
        @if (User.IsInRole("admin"))
        {
            <span id="editFormShowBtn" class="btn btn-warning btn-xs glyphicon glyphicon-pencil"></span>
        }
    </h2>

    if (User.IsInRole("admin"))
    {
    <div id="editForm" class="hidden">
        <input hidden id="IdInput" size="50" value="@Model.Id" />
        <input id="newNameInput" size="50" value="@Model.Name" />
        <button id="saveChangesBtn" class="btn btn-success btn-sm">Зберегти зміни</button>
    </div>
    }

    if (Model.Books.Count > 0)
    {
        <h5 class="alertInfo bg-success text-primary">Цей автор має <span class="badge">@Model.Books.Count</span> книг</h5>
        <ul>
            @foreach (var book in Model.Books)
            {
                <li><a href="@Url.Action("ShowBook", "Home", new { id = book.Id })">@book.Title</a></li>
            }
        </ul>
    }
    else
    {
        <h5 class="alertInfo bg-warning text-primary">Цей автор не має книг</h5>
        <span>Можете переглянути інших авторів</span>
        <ul>
            @foreach (var author in ViewBag.OtherAuthors)
            {
                <li><a href="@Url.Action("ShowAuthor", "Home", new { id = author.Id })">@author.Name</a></li>
            }
        </ul>
    }
}
else
{
    ViewBag.Title = "Автори";
    <h2>Автори</h2>
    <h4 class="alertInfo bg-success text-primary">До вашої уваги такі автори:</h4>

    <ul>
        @foreach (var author in ViewBag.OtherAuthors)
        {
            <li><a href="@Url.Action("ShowAuthor", "Home", new { id = author.Id })">@author.Name</a></li>
        }
    </ul>
}

@if (User.IsInRole("admin"))
{
@section scripts
{
    <script>
        function toggleEditForm() {
            $("#editForm").toggleClass("hidden");
        }

        function saveChanges() {
            var newName = $("#newNameInput").val();
            var Id = $("#IdInput").val();
            if (newName.length > 1)
            {
                $.ajax({
                    url: '@Url.Action("EditAuthor", "LibraryManage")',
                    type: 'POST',
                    data: { Id: Id, Name: newName },
                    success: () => {
                        alert("Успішно змінено");
                        toggleEditForm();
                        toggleBlockUserBtns();
                    },
                    error: function () {
                        alert('Помилка при зміні');
                    }
                });
            }
            else {
                alert("Закоротка назва");
            }
        }

            $("#editFormShowBtn").click(toggleEditForm);
            $("#saveChangesBtn").click(saveChanges);
    </script>
}
}