
@{
    @model DBLib.Models.Book
}

<!DOCTYPE html>

<h1>Books</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-md-2">
            <div>
                @Html.LabelFor(b => b.ISBN)
                @Html.DisplayFor(b => b.ISBN)
            </div>
            <div>
                @Html.LabelFor(b => b.Pages)
                @Html.DisplayFor(b => b.Pages)
            </div>
            <div>
                @Html.LabelFor(b => b.Quantity)
                @Html.DisplayFor(b => b.Quantity)
            </div>
            <div>
                @Html.LabelFor(b => b.Title)
                @Html.DisplayFor(b => b.Title)
            </div>
            <div>
                @Html.LabelFor(b => b.Year)
                @Html.DisplayFor(b => b.Year)
            </div>
            <div>
                @Html.LabelFor(b => b.LibraryReading)
                @Html.DisplayFor(b => b.LibraryReading)
            </div>
            <div>
                @Html.LabelFor(b => b.Publisher.Name)
                @Html.DisplayFor(b => b.Publisher.Name)
            </div>
            <div>
                @Html.LabelFor(b => b.Section.Name)
                @Html.DisplayFor(b => b.Section.Name)
            </div>
            <div>
                @Html.LabelFor(b => b.Authors)
                @foreach (var author in Model.Authors)
                {
                    <p>@author.Name</p>
                }
            </div>
            @if (@ViewBag.userExist)
            {
                <div id="addBookOrder" class="btn btn-primary">Замовити</div>
                <div id="cancelBookOrder" class="btn btn-danger hidden">Відмінити</div>
            }
            else
            {
                @Html.ActionLink("Щоб замовити книгу, необхідно увійти", "Login", "Account", null, new { @class = "btn btn-default" });
            }
        </div>
        <div class="col-xs-6 col-md-2">
            <img class="bookTitleImgLj" src="~/TitlePic/@{@Model.Id;}.jpg" onerror="imgError(this)" />
        </div>
    </div>
</div>

@section scripts{
    <script>
        $("#addBookOrder").click(addBookOrder);
        $("#cancelBookOrder").click(cancelBookOrder);

        function addBookOrder() {
            $.ajax({
                url: '@Url.Action("bookOrder")',
                data: { BookId: '@Model.Id', UserId: '@ViewBag.userId' },
                type: 'POST',
                dataType: "json",
                success: function (data)
                {
                    $("#addBookOrder").toggleClass("hidden");
                    $("#cancelBookOrder").toggleClass("hidden");
                    alert(data);
                },
                error: function(xhr, status, error){
                    alert("Error");
                }
             });
        }

        function cancelBookOrder() {
            $.ajax({
                url: '@Url.Action("cancelBookOrder")',
                data: { BookId: '@Model.Id', UserId: '@ViewBag.userId' },
                type: 'POST',
                dataType: "json",
                success: function (data)
                {
                    $("#addBookOrder").toggleClass("hidden");
                    $("#cancelBookOrder").toggleClass("hidden");
                    alert(data);
                },
                error: function(xhr, status, error){
                    alert("Error");
                }
             });
        }
    </script>
}