@{
    ViewBag.Title = "AddBook";
    @model Library.Models.AddBooksViewModels
}

<h2>AddBook</h2>
<div class="panel panel-info">
    <div class="panel-heading text-uppercase">Додати книгу</div>
    <div class="panel-body">
        <form method="post" action="/LibraryManage/AddBook" role="form" enctype="multipart/form-data">
            <div>
                @Html.LabelFor(m => m.AuthorsId)
                <input type="text" oninput="getAuthorsByNameTerm()" id="authorSearch" />
                <select hidden id="authorSelect" class="authorSelect"></select>
                @Html.ValidationMessageFor(m => m.AuthorsId)
                <div id="selectAuthorBnt" disabled class="btn btn-default btn-xs" onclick="selectAuthor()">Обрати автора</div>
                <div id="addAuthorBnt" class="btn btn-default btn-xs" onclick="addAuthorToDB()">Зберегти нового автора</div>
                <div id="selectedAuthorsDisplay"></div>
            </div>
            <div>
                @Html.LabelFor(m => m.ISBN)
                @Html.TextBoxFor(m => m.ISBN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.ISBN)
            </div>
            <div>
                @Html.LabelFor(m => m.LibraryReading)
                <input type="checkbox" value="true" name="LibraryReading" />
                @Html.ValidationMessageFor(m => m.LibraryReading)
            </div>
            <div>
                @Html.LabelFor(m => m.Pages)
                @Html.TextBoxFor(m => m.Pages, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Pages)
            </div>
            <div>
                @Html.LabelFor(m => m.PublisherName)
                <input name="PublisherName" id="PublisherName" list="publisherList" />
                @Html.ActionLink("Додати видавця", "AddPublisher", "LibraryManage", null, new {@class="btn btn-default btn-xs"})
                <div class="btn btn-default btn-xs" onclick="updatePublishersList()">Оновити</div>
                @Html.ValidationMessageFor(m => m.PublisherName)
            </div>
            <div>
                @Html.LabelFor(m => m.Quantity)
                @Html.TextBoxFor(m => m.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Quantity)
            </div>
            <div>
                @Html.LabelFor(m => m.SectionName)
                <input name="SectionName" id="SectionName" list="sectionList" />
                @Html.ActionLink("Додати розділ", "AddSection", "LibraryManage", null, new { @class = "btn btn-default btn-xs" })
                <div class="btn btn-default btn-xs" onclick="updateSectionsList()">Оновити</div>
                @Html.ValidationMessageFor(m => m.SectionName)
            </div>
            <div>
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Title)
            </div>
            <div>
                @Html.LabelFor(m => m.Year)
                @Html.TextBoxFor(m => m.Year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Year)
            </div>
            <div>
                @Html.LabelFor(m => m.TitlePic)
                <input type="file" name="TitlePic" id="TitlePic"  accept=".jpg"/>
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Додати книгу</button>
        </form>
    </div>
</div>

<datalist id="publisherList">
</datalist>
<datalist id="sectionList">
</datalist>

@section scripts{
    <script src="~/Scripts/myScripts.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui-git.css">

    <script>
        var authorsArray = getAllAuthors();
        updatePublishersList();
        updateSectionsList();

        function getAllAuthors() {
            $.ajax({
                url: '@Url.Action("GetAuthorsJson")',
                //type: 'POST',
                dataType: "json",
                success: function (data)
                {
                    authorsArray = data;
                },
                error: function(xhr, status, error){
                    alert("Error");
                }
             });
        }

        function selectToggle(state) {
            if (state == "off") {
                $("#authorSelect").hide();
                $("#selectAuthorBnt").attr('disabled', 'disabled');
            }
            else {
                $("#authorSelect").show();
                $("#selectAuthorBnt").removeAttr('disabled');
            }

        }

        function getAuthorsByNameTerm() {
            var authorNameTerm = $("#authorSearch").val();

            var authorsFind = authorsArray.filter(function (element) {
                if (element.Name.toLowerCase().includes(authorNameTerm.toLowerCase()))
                    return true;
                return false;
            });

            $("#authorSelect").empty();

            if (authorsFind.length == 0) {
                selectToggle('off')
                return 0;
            }

            selectToggle('on');

            authorsFind.map(function (author) {
                $('<option type="text" readonly value="'
                    + author.Id + '">' + author.Name + '</option>').appendTo("#authorSelect");
            });
        }

        function selectAuthor(Id, Name) {
            var authorId = (Id != undefined) ? Id : $("#authorSelect option:selected").val();
            var authorName = (Name != undefined) ? Name : $("#authorSelect option:selected").text();
            if (authorId != undefined) {
                $('<div class="selectedBox" id="' + authorId + '"><input hidden type="checkbox"checked name="AuthorsId" value="'
                    + authorId + '">' + authorName + ' <span class="removeBtn" onclick="removeEl(\'#'
                    + authorId + '\')">X</span></div>').appendTo("#selectedAuthorsDisplay");
                $('#authorSearch').val('');
                $("#authorSelect").empty();
                selectToggle('off');
            }
        }

        function addAuthorToDB() {
            var authorName = $('#authorSearch').val().trim();
            $.ajax({
                url: '@Url.Action("AddAuthorToDB")',
                type: 'POST',
                data: { authorName: authorName },
                success: function (Id) {
                    switch (Id) {
                        case "-1": alert("Помилка додавання автора в БД"); break;
                        case "0": alert("Цей автор вже є в БД"); break;
                        case "Закоротке ім'я": alert("Закоротке ім'я"); break;
                        default: alert("Автор успішно доданий"); selectAuthor(Id, authorName); break;
                    }
                },
                error: function () {
                    alert('Помилка при додаванні');
                }
            });
        }

        function removeEl(selector) {
            $(selector).remove();
        }
        
        function updatePublishersList() {
            $("#publisherList").empty();
            
            $.ajax({
                url: '@Url.Action("GetPublishersJson")',
                dataType: "json",
                success: function (data)
                {
                    data.map(function (publisherName) {
                        $('<option>' + publisherName + '</option>').appendTo("#publisherList");
                    }
                    )
                },
                error: function(xhr, status, error){
                    alert("Error");
                }
             });
        }

        function updateSectionsList(){
            $("#sectionList").empty();
            
            $.ajax({
                url: '@Url.Action("GetSectionsJson")',
                dataType: "json",
                success: function (data)
                {
                    data.map(function (publisherName) {
                        $('<option>' + publisherName + '</option>').appendTo("#sectionList");
                    }
                    )
                },
                error: function(xhr, status, error){
                    alert("Error");
                }
             });
        }

    </script>
}