@{
    ViewBag.Title = "Зареєстровані користувачі";
    @model List<Library.Models.ApplicationUser>
}

<h2>Зареєстровані користувачі</h2>

<div class="form-group navbar-form">
    <div class="input-group">
        <input id="userSearch" class="form-control" size="52" placeholder="Введіть перші 2 літери імені" onkeyup="userSearchByName()" type="text" />
        <div class="input-group-btn">
            <button id="clearUserSearch" onclick="clearUserSearch()" class="btn btn-default">X</button>
        </div>
    </div>
</div>
<ul>
    @foreach (var user in Model)
    {
        <li id="@user.Id">
            <a class="@(user.userHasPenalty? "bg-danger" : "")"
               href="@Url.Action("ShowUserInfo", new { id = user.Id})">
                @user.Surname @user.Name (@user.getCountOfOrderedBooks<text>/</text>@user.getCountOfTakedBooks) @(user.userHasPenalty ? " – Штраф : " + user.getSummaryFineValue + "грн" : "")
            </a>
            @if (user.IsBanned)
            {
                <span class="btn btn-danger btn-xs">Заблокований!</span>
            }
        </li>
    }
</ul>

@section scripts
{
    <script>
        var userList = [];

        @foreach (var user in Model)
        {
            @:userList.push({ id: "@user.Id", name: "@user.Surname @user.Name"})
        }

        function userSearchByName() {
            var nameTherm = $("#userSearch").val();
            if (nameTherm.length > 1)
            {
                userList.map(
                    (el) => {
                        if (el.name.toLowerCase().includes(nameTherm.toLowerCase())) {
                            $("#" + el.id).removeClass("hidden");
                        }
                        else {
                            $("#" + el.id).addClass("hidden");
                        }
                    }
                )
            }
        }

        function clearUserSearch() {
            $("#userSearch").val("");
            userList.map
                (
                    (el) => {
                        $("#" + el.id).removeClass("hidden");
                    }
                )
        }
    </script>
}