@{
    ViewBag.Title = "Зареєстровані користувачі";
    @model List<Library.Models.ApplicationUser>
}

<h2>Зареєстровані користувачі</h2>

<div class="form-group navbar-form">
    <div class="input-group">
        <input id="userSearch" class="form-control" size="52" placeholder="Введіть перші 2 літери імені" onkeyup="userSearchByName()" type="text" />
        <div class="input-group-btn">
            <button id="clearUserSearch" onclick="clearUserSearch()" class="btn btn-default">X</button>
        </div>
    </div>
</div>
<table class="table ">
    <thead>
        <tr>
            <th>Прізвище та ім'я</th>
            <th>Замовлено книг</th>
            <th>Взято книг</th>
            <th>Штраф</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr id="@user.Id" class="@(user.userHasPenalty? "bg-danger" : "")">
                <td>
                    <a href="@Url.Action("ShowUserInfo", new { id = user.Id})">
                        @user.Surname @user.Name
                    </a>
                </td>
                <td>@user.getCountOfOrderedBooks</td>
                <td>@user.getCountOfTakedBooks</td>
                <td>
                    @(user.userHasPenalty ? user.getSummaryFineValue + "грн" : "-")
                </td>
                <td>
                    @if (user.IsBanned)
                    {
                        <span class="btn btn-danger btn-xs disabled">Заблокований!</span>
                    }
                    else
                    {
                        <span class="btn btn-success btn-xs disabled">Дійсний</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        var userList = [];

        @foreach (var user in Model)
        {
            @:userList.push({ id: "@user.Id", name: "@user.Surname @user.Name"})
        }

        function userSearchByName() {
            var nameTherm = $("#userSearch").val();
            if (nameTherm.length > 1)
            {
                userList.map(
                    (el) => {
                        if (el.name.toLowerCase().includes(nameTherm.toLowerCase())) {
                            $("#" + el.id).removeClass("hidden");
                        }
                        else {
                            $("#" + el.id).addClass("hidden");
                        }
                    }
                )
            }
        }

        function clearUserSearch() {
            $("#userSearch").val("");
            userList.map
                (
                    (el) => {
                        $("#" + el.id).removeClass("hidden");
                    }
                )
        }
    </script>
}